@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

::selection {
  background: #a486ff;
  color:  #000;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  color: #a486ff;
  background: #151419;
  overscroll-behavior-y: none;
  font-weight: 900;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: inherit;
}

h1,h2,h3 {
  font-style: italic;
  color: rgba(0,0,0,0.2);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a486ff;
  line-height: normal;
}

h1 {
  font-size: 8vw;
  margin: 0 0 0 30px;
}

h2 {
  margin: 0 0 0 15px;
}

h3 {
  margin: 0 0 0 8px;
}

.container {
  display: flex;
}

.border{
  border: 2px solid #a486ff;
}

#app {
  width: 100%;
  height: 100%;
}

.youtube-wrapper-outer{
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  padding: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.youtube-wrapper-inner{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  padding: 80px;
  position: relative;
}

.frame{
    width: 80px;
    height: 100vh;
    background-color: #151419;
    top: 0;
    border: 1px solid;
    position: fixed;

    &.left{
      left: 0;
    }

    &.right{
      right: 0;
      height: calc(100vh - 79px)
    }

    &.bottom, &.top{
      height: 80px;
      width: 100vw;
    }

    &.bottom{
      bottom: 0;
      top: auto;
    }

    &.top{
      top: 0;
    }
  }
