@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

::selection {
  background: #2ddab8;
  color: white;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  color: rgb(221, 221, 221);
  background: rgb(29, 27, 27);
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: 250px;
  color: transparent;/* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(221, 221, 221);
  line-height: 0.03;
  margin: 0;
  white-space: nowrap;
}

.container {
  display: flex;

}

#app {
  width: 100%;
  height: 100%;
}
